.table {
    border: 0.5px solid;
    border-collapse: collapse;
    width: 50%;
}

.table th,
.table td {
    border: 0.5px solid;
    border-collapse: collapse;
    padding: 0.5rem;
    text-align: center;
}
